@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-primary: #655f4d;
  --color-secondary: #757a7d;
  --color-theme: #eb2328;
}

/*.dark-mode {*/
/*  --color-primary: #ccc;*/
/*  --color-secondary: #999999;*/
/*  --color-theme: #eb2328;*/
/*}*/

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f5f7fa;
  height: unset;
}

.container {
  max-width: 1200px;
  padding: 10px;
}

html {
  scroll-behavior: smooth;
}
