@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-primary: #655f4d;
  --color-secondary: #757a7d;
  --color-theme: #007bff;
}

.dark-mode {
  --color-primary: #ccc;
  --color-secondary: #999999;
  --color-theme: #1890ff;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f5f7fa;
}

.container {
  width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
}
